.cart-wrapper{
    display: flex; 
overflow-y: scroll; 
flex-direction: column; 
height: 100%; 
}
.cart-wrapper-top{
    padding-left: 1rem;
padding-right: 1rem; 
padding-top: 1.5rem;
padding-bottom: 1.5rem; 
flex: 1 1 0%; 
}
.cart-heading{
    display: flex; 
justify-content: space-between; 
align-items: flex-start; 

}
.cart-heading h1{
    font-size: 1.7rem;
line-height: 1.75rem; 
font-weight: 700; 
color: #111827; 
margin-bottom: 1.5rem;
}
.Add-to-bag{
    display: flex; 
flex-direction: column; 
justify-content: center; 
align-items: center; 
width: 100%; 
height: 100%; 
}
.Add-to-bag h1{
    font-size: 1.5rem;
line-height: 1; 
text-align: center; 
margin: 1rem 0;

}
.Add-to-bag img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.MainShow{
    margin-top: 2rem; 
}
.MainShow-ul{
    margin-top: -1.5rem;
margin-bottom: -1.5rem; 
border-top-width: 1px; 
border-color: #E5E7EB; 
}
.MainShow-li{
    display: flex; 
    padding: 1.5rem;
/* padding-top: 1.5rem;
padding-bottom: 1.5rem;  */
background: white;
margin-bottom: 1rem;
box-shadow: 3px 3px 12px rgba(0,0,0,0.5);
border-radius: 1rem;

}
.li-top{
    object-fit: cover; 
object-position: center; 
width: 6rem; 
height: 6rem; 
}
.li-top img{
    object-fit: cover; 
object-position: center; 
width: 100%; 
height: 100%; 
}
.MainShow-wrapper{
    display: flex; 
margin-left: 1rem; 
flex-direction: column; 
flex: 1 1 0%; 

}
.MainShow-wrapper-top{
    display: flex; 
justify-content: space-between; 
font-size: 1rem;
line-height: 1.5rem; 
font-weight: 500; 
color: #1F2937; 
}
.MainShow-wrapper-bottom{
    display: flex; 
flex: 1 1 0%; 
justify-content: space-between; 
align-items: flex-end; 
font-size: 0.875rem;
line-height: 1.25rem; 
}
.MainShow-wrapper-bottom-btn{
    /* font-weight: 500; 
color: #4F46E5;  */
outline: none;
border: none;
background: transparent;

}
.MainShow-wrapper-bottom-btn :hover{
    color: #6366F1; 
}
.BottomWrapper{
    padding-left: 1rem;
padding-right: 1rem; 
padding-top: 1.5rem;
padding-bottom: 1.5rem; 
border-top-width: 1px; 
border-color: #E5E7EB; 

}
.BottomWrapper-sub{
    display: flex; 
justify-content: space-between; 
font-size: 1rem;
line-height: 1.5rem; 
font-weight: bold;
color: #000; 
}
.BottomWrapper-ship{
    margin-top: 0.125rem; 
font-size: 0.875rem;
line-height: 1.25rem; 
color: #6B7280; 
}


@media screen and (max-width:445px) {
    .MainShow-wrapper-top{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .MainShow-wrapper-top h3{
        font-size: 16px;
        
    }
    .MainShow-wrapper-bottom{
        /* display: flex; */
        /* flex-direction: column;
        align-items: flex-start; */
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
}